{% extends 'base.html' %}
{% block content %}
    <h2>{{ word }}</h2>
    <form method="POST" action="/doDatacollecte">
        <div>
            EMP_SN:&nbsp;&nbsp; {{ empform.emp_SN(size=20) }}&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
            EMP_NAME: {{ empform.emp_name(size=20) }}
        </div>
        <div>
            {{ empform.submit }}

        </div>
    </form>
    <div>
        {% if response_word %}
             {{ response_word }}
        {% endif %}
    </div>
    {{ word_end }}
{% endblock %}
